body {
  background: rgb(127, 127, 127);
  color: white;
  font-family: 'Courier New', 'Courier', monospace;
}

.stimulus-word {
  font-family: 'Courier New', 'Courier', monospace;
}

.probe-word {
  font-family: 'Courier New', 'Courier', monospace;
}

.response {
  font-family: 'Courier New', 'Courier', monospace;
}

p {
  width: 900px; /* Fixed width for all paragraphs */
  max-width: 90%; /* Ensures it doesn't stretch too wide on smaller screens */
  margin: 25px auto; /* Centers the paragraph container */
}
/* .instructions {

  /* display: inline-block; */
  /* text-align: left; */
